@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

*:focus {outline:none !important}

body {
  font-family: "Open Sans", serif;
  margin: 0;
}

marquee {
  text-align: center;
}

input {
  background-color: red;
}

.wrapper {
  background: linear-gradient(to right, #f2faff, #9afcff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background: #fff;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 600px;
  margin: 0 auto;
}

.title-container {
  margin: 0 auto;
  padding: 10% 10% 0;
  text-align: center;
}
.weather_app{
  font-size: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fa2626;
}

.titles {
  font-size: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #49aee9;
}

form {
  padding: 10% 0 0;
}

input[type="text"] {
  text-align: center;
  background-color: white !important;
  border: 0;
  border-bottom: solid 1px #fa2626;
  width: 55%;
  padding-bottom: 4px;
  color: #49aee9 !important;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
  outline: none;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

input[type=text]:focus {
  width: 80%;
  background-color: white !important;
  color: #49aee9 !important;
}

::placeholder {
  color: #fa2626;
  opacity: 1; /* Firefox */
}

button {
  border: 0;
  padding: 8px 20px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 25px;
  cursor: pointer;
  background-color: #fff;
  color: #49aee9;
  border: 1px solid #49aee9;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  text-decoration: none;
}

button:hover {
  background-color: #49aee9;
  color: #fff;
  border: 1px solid #49aee9;
  padding: 8px 20px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 25px;
  cursor: pointer;
}

button:active {
  outline: none;
}

.weather__value {
  color: #fff;
  font-weight: 200;
}

.weather__error {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}

.response-container {
  padding: 5% 0;
}

.response_weather {
  margin: 0 auto;
  padding: 10% 10% 0;
}

.output_weather {
  margin: 0 auto;
  width: 70%;
  color: #fa2626;
  font-size: 20px;
  text-align: center;
  
}