@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

*:focus {outline:none !important}

body {
  font-family: "Open Sans", serif;
  margin: 0;
  background: linear-gradient(to right, #f2faff, #9afcff);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

h2 {
  color: red;
  font-family: "Roboto Slab", serif;
}

marquee {
  text-align: center;
  white-space: normal;
}

.main {
  background: #fff;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
}

.title-container {
  padding: 20px 0 0;
  text-align: center;
}

.titles {
  font-size: 20px;
  display: block;
  color: #49aee9;
  margin: 0 auto;
  padding: 0;
}

form {
  padding: 25px 0 0;
  margin: 0 auto;
}

input[type="text"] {
  text-align: center;
  background-color: white;
  border: 0;
  border-bottom: solid 1px #fa2626;
  width: 75%;
  padding-bottom: 4px;
  color: #49aee9;
  letter-spacing: 2px;
  margin-bottom: 30px;
  font-size: 18px;
  outline: none;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

input[type=text]:focus {
  width: 90%;
  background-color: white;
  color: #49aee9;
}

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset;
  -webkit-text-fill-color: #49aee9;
}

::placeholder {
  color: rgb(122, 122, 122);
  opacity: 1; /* Firefox */
  font-size: 18px;
}

button {
  width: 50%;
  padding: 3px 20px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: white;
  color: #49aee9;
  border: 1px solid #49aee9;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  text-decoration: none;
}

button:hover {
  background-color: #49aee9;
  color: white;
  border: 1px solid #49aee9;
}

button:active {
  outline: none;
}

.weather__value {
  color: #fff;
  font-weight: 200;
}

.weather__error {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}

.response-container {
  padding: 20px 0 0;
}

.output_weather {
  font-size: 16px;
  text-align: center;
  padding: 0;
}

@media (min-width: 768px) {
  .main {
    width: 600px;
  }
}

@media (max-width: 768px) {
  input[type="text"] {
    width: 70%;
  }

  input[type=text]:focus {
    width: 90%;
  }

  button {
    width: 50%;
  }
 }